/* Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 200%;

  margin: 0 0 15px 0;
}
h2 {
  font-size: 150%;

  margin: 0 0 15px 0;
}
h3 {
  font-size: 110%;
  margin: 0 0 15px 0;
}
h4 {
  font-size: 100%;
  margin: 0 0 15px 0;
}

p {
  margin: 0 0 15px 0;
  padding: 10px;
}

ul {
  margin: 0 0 15px 0;
}

li {
  margin: 0 0 15px 0;
/*   list-style: disc; */
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #654654;
}

a:link, a:visited {

}

a:hover, a:active {
  color: #345345;
}

.jump {
  font-size: 80%;
  color: #666;
}

/* Layout */
#container {

}

#navigation li {
  float: left;
  padding: 0 20px 0 0;
}

.section {
/*   padding: 20px; */
}

.subsection {
/*   padding: 20px; */
}
.callout {
  padding: 20px;
  margin: 10px 0 20px 0;
  background: #FFFFFF;
  border: 1px solid #FF0068;
}
table {
  margin: 10px 0;
}
td {
  vertical-align: top;
  padding: 5px;
}

/* Mobile overrides */
.ui-bar-c {
background:-moz-linear-gradient(center top , #EA347F, #FF0068) repeat scroll 0 0 #BBBBBB;
border:1px solid #CCCCCC;
color:#333333;
/* text-shadow:0 1px 0 #EEEEEE; */
text-shadow: none;
}