/* Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 200%;

  margin: 0 0 15px 0;
}
h2 {
  font-size: 150%;

  margin: 0 0 15px 0;
}
h3 {
  font-size: 110%;
  margin: 0 0 15px 0;
}
h4 {
  font-size: 100%;
  margin: 0 0 15px 0;
}

p {
  margin: 0 0 15px 0;
  padding: 10px;
  max-width: 550px;
}

ul {
  margin: 0 0 15px 0;
}

li {
  margin: 0 0 15px 0;
/*   list-style: disc; */
  list-style-position: inside;
}

dd {
  font-weight: bold;
}

dt {
  padding: 10px 0 10px 50px;
}

a {
  text-decoration: none;
  color: #654654;
}

a:link, a:visited {

}

a:hover, a:active {
  color: #345345;
}

.jump {
  font-size: 80%;
  color: #666;
}

/* Layout */
#container {

}

#navigation li {
  float: left;
  padding: 0 20px 0 0;
}

.section {
/*   padding: 20px; */
}

.subsection {
/*   padding: 20px; */
}
.callout {
  padding: 20px;
  margin: 10px 0 20px 0;
  background: #FFF;
  border: 1px solid #D7E8CD;
}

.section img {

}
.logo {
  background: url(../images/gingham.png) repeat-x;
}
.logo img {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.logo h1 {
  display: none;
}

table {
  margin: 10px 0;
}
td {
  vertical-align: top;
  padding: 5px;
}


/* Mobile custom buttons */

.ui-icon-food {
	background-image: url(../images/food.png);
/* 	background-repeat: no-repeat; */
}
/*

.ui-icon-food {
	background-position: 0 50%;
}
.ui-icon-foodhacking-food {
	background-position: -36px 50%;
}
*/

/* Mobile Styles */

.ui-body-c {
  border: 1px solid #B3B3B3;
  color: #333;
  text-shadow: 0 1px 0 white;
  background: #F2F2EB;
  background-image: -moz-linear-gradient(top,#F2F2EB,#E8E6CD);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F2F2EB),color-stop(1,#E8E6CD));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2EB', EndColorStr='#E8E6CD')";
}

.ui-bar-c {
  background: none;
  background-color: #F5E76E;
  border: none;
  color:#000;
  padding: 0;
  margin: 0;
  text-shadow:0 1px 0 #EEEEEE;
  text-shadow: none;  
}

.ui-collapsible-content {
  padding: 10px 10px 10px 8px;
}

.ui-collapsible-heading {
  font-size: 16px;
  display: block;
  margin: 0 -8px;
  padding: 0;
  border-width: 0 0 1px 0;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ui-btn-up-c {
  border: none;
  background: #509B29;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  text-shadow: none;
  text-decoration: none;
  /* background-image: -moz-linear-gradient(top,#FEFEFE,#EEE); */
  /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FDFDFD),color-stop(1,#EEE)); */
  background-image: none;
  
  /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EEE')"; */
  -ms-filter: none;
}

.subsection .ui-btn-up-c {
  background: #A7DD85;
}

.ui-shadow {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.ui-btn-hover-c {
  border: none;
  background: #509B29;
  color: #FFF;
  background-image: none;
  -ms-filter: none;
  text-shadow: none;
}

.ui-collapsible-contain {
  margin: 0;
}

.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 0 0 0px 0;
}