/* Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 200%;

  margin: 0 0 15px 0;
}
h2 {
  font-size: 150%;

  margin: 0 0 15px 0;
}
h3 {
  font-size: 110%;
  margin: 0 0 15px 0;
}
h4 {
  font-size: 100%;
  margin: 0 0 15px 0;
}

p {
  margin: 0 0 15px 0;
  padding: 10px;
  max-width: 550px;
}

ul {
  margin: 0 0 15px 0;
}

li {
  margin: 0 0 15px 0;
/*   list-style: disc; */
  list-style-position: inside;
}

dd {
  font-weight: bold;
}

dt {
  padding: 10px 0 10px 50px;
}

a {
  text-decoration: none;
  color: #654654;
}

a:link, a:visited {

}

a:hover, a:active {
  color: #345345;
}

.jump {
  font-size: 80%;
  color: #666;
}

/* Layout */
#container {

}

#navigation li {
  float: left;
  padding: 0 20px 0 0;
}

.section {
/*   padding: 20px; */
}

.subsection {
/*   padding: 20px; */
}
.callout {
  padding: 20px;
  margin: 10px 0 20px 0;
  background: #FFFFFF;
  border: 1px solid #FF0068;
}
table {
  margin: 10px 0;
}
td {
  vertical-align: top;
  padding: 5px;
}

/* Mobile custom buttons */


.ui-icon-food {
	background-image: url(../images/food.png);
/* 	background-repeat: no-repeat; */
}
/*

.ui-icon-food {
	background-position: 0 50%;
}
.ui-icon-foodhacking-food {
	background-position: -36px 50%;
}
*/

/* Mobile Styles */

.ui-body-c {
  border: 1px solid #B3B3B3;
  color: #333;
  text-shadow: 0 1px 0 white;
  background: #F0F0F0;
  background-image: -moz-linear-gradient(top,#FFF,#EEE);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#EEE));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFF', EndColorStr='#EEE')";
}

.ui-bar-c {
  background:-moz-linear-gradient(center top , #EA347F, #FF0068) repeat scroll 0 0 #FF0068;
  border:1px solid #CCCCCC;
  color:#333333;
  /* text-shadow:0 1px 0 #EEEEEE; */
  text-shadow: none;  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FF0068),color-stop(1,#FF0068));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF00680', EndColorStr='#FF0068')";
}

.ui-collapsible-heading {
  font-size: 16px;
  display: block;
  margin: 0 -8px;
  padding: 0;
  border-width: 0 0 1px 0;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ui-btn-up-c {
  border: none;
  background: #EEE;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  text-shadow: none;
  text-decoration: none;
  /* background-image: -moz-linear-gradient(top,#FEFEFE,#EEE); */
  /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FDFDFD),color-stop(1,#EEE)); */
  background-image: none;
  
  /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EEE')"; */
  -ms-filter: none;
}

.ui-shadow {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.ui-btn-hover-c {
  border: none;
  background:             #f5f5f5;
  color:                  #222;
  background-image: none;
  -ms-filter: none;
}

.ui-collapsible-contain {
  margin: 0;
}

.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 0 0 0px 0;
}